In [1]:
import json
import datasets
from datasets import list_datasets

/home/postgres/devel/rag_proto/lib/python3.9/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
import psutil

def print_memory():
  # Get memory usage information
  memory = psutil.virtual_memory()

  # Print memory usage statistics
  print(f"Total Memory: {memory.total / (1024**3):.2f} GB")
  print(f"Available Memory: {memory.available / (1024**3):.2f} GB")
  print(f"Used Memory: {memory.used / (1024**3):.2f} GB")
  print(f"Memory Usage Percentage: {memory.percent:.2f}%")

In [3]:
print_memory()

all_datasets = list_datasets()
from datasets import load_dataset

squad_kor_v2 = load_dataset('squad_kor_v2')

validation_data = squad_kor_v2['validation']
df_valid = validation_data.to_pandas()

print_memory()

Total Memory: 15.62 GB
Available Memory: 11.55 GB
Used Memory: 2.81 GB
Memory Usage Percentage: 26.00%

/tmp/ipykernel_16834/621678919.py:3: FutureWarning: list_datasets is deprecated and will be removed in the next major version of datasets. Use 'huggingface_hub.list_datasets' instead.
  all_datasets = list_datasets()

Total Memory: 15.62 GB
Available Memory: 10.46 GB
Used Memory: 3.91 GB
Memory Usage Percentage: 33.10%

In [4]:
df_embedding = df_valid[:100]
del df_valid
del squad_kor_v2
del validation_data

In [5]:
df_embedding

,id,title,context,question,answer,url,raw_html
0,38824,2016년_하계_올림픽_배구_남자_선수_명단,<!DOCTYPE html>\n<html>\n<head>\n<meta>\n<titl...,파스칼레 소틸레의 스파이크 높이는 몇 cm인가?,"{'text': '<td>332cm</td>', 'answer_start': 106...",https://ko.wikipedia.org/wiki/2016년_하계_올림픽_배구_...,"<!DOCTYPE html>\n<html class=""client-nojs"" dir..."
1,11930,2016년_하계_올림픽_배구_남자_선수_명단,<!DOCTYPE html>\n<html>\n<head>\n<meta>\n<titl...,"2016년 하계 올림픽 캐나다 남자 배구 대표팀 선수들 중, 타일러 샌더스는 201...","{'text': 'MKS 벵진', 'answer_start': 13498, 'htm...",https://ko.wikipedia.org/wiki/2016년_하계_올림픽_배구_...,"<!DOCTYPE html>\n<html class=""client-nojs"" dir..."
2,40175,혈액_검사,<!DOCTYPE html>\n<html>\n<head>\n<meta>\n<titl...,혈액 검사에서 나트륨의 정상범위는 최소 136mmol/L에서 최대 몇 mmol/L까...,"{'text': '<td>145</td>', 'answer_start': 3707,...",https://ko.wikipedia.org/wiki/혈액_검사,"<!DOCTYPE html>\n<html class=""client-nojs"" dir..."
3,26058,안토닌_드보르자크,<!DOCTYPE html>\n<html>\n<head>\n<meta>\n<titl...,안토닌 드보르자크의 작품 중 18개의 가곡으로 이루어진 노래는?,"{'text': '사이프러스', 'answer_start': 9036, 'html_...",https://ko.wikipedia.org/wiki/안토닌_드보르자크,"<!DOCTYPE html>\n<html class=""client-nojs"" dir..."
4,58077,조석_가속,<!DOCTYPE html>\n<html>\n<head>\n<meta>\n<titl...,에드먼드 핼리가 달의 운동이 빨라지고 있다고 주장한 년도는 언제일까?,"{'text': '1695년', 'answer_start': 1951, 'html_...",https://ko.wikipedia.org/wiki/조석_가속,"<!DOCTYPE html>\n<html class=""client-nojs"" dir..."
...,...,...,...,...,...,...,...
95,28771,배천_조씨,<!DOCTYPE html>\n<html>\n<head>\n<meta>\n<titl...,임진왜란 당시 조헌이 의병을 일으킨 장소는 어디인가?,"{'text': '옥천', 'answer_start': 3647, 'html_ans...",https://ko.wikipedia.org/wiki/배천_조씨,"<!DOCTYPE html>\n<html class=""client-nojs"" dir..."
96,6442,배천_조씨,<!DOCTYPE html>\n<html>\n<head>\n<meta>\n<titl...,배천 조씨의 42세 항렬은 무엇일까?,"{'text': '모(模)', 'answer_start': 5501, 'html_a...",https://ko.wikipedia.org/wiki/배천_조씨,"<!DOCTYPE html>\n<html class=""client-nojs"" dir..."
97,70310,프레더릭_딜리어스,<!DOCTYPE html>\n<html>\n<head>\n<meta>\n<titl...,딜리어스가 1886년부터 2년간 작곡 공부를 한 곳은 어디야?,"{'text': '<a>라이프치히 콘서바토리</a>', 'answer_start':...",https://ko.wikipedia.org/wiki/프레더릭_딜리어스,"<!DOCTYPE html>\n<html class=""client-nojs"" dir..."
98,18925,최태원_(기업인),<!DOCTYPE html>\n<html>\n<head>\n<meta>\n<titl...,최태원이 출감한 날짜는 언제일까?,"{'text': '2015년 8월 14', 'answer_start': 4173, ...",https://ko.wikipedia.org/wiki/최태원_(기업인),"<!DOCTYPE html>\n<html class=""client-nojs"" dir..."
99,70570,교황_바오로_3세,<!DOCTYPE html>\n<html>\n<head>\n<meta>\n<titl...,교황 바오로 3세는 교황이 되기 전 어떤 과정을 거쳤어?,{'text': '<p>알레산드로는 어려서부터 <a>피사 대학교</a>와 <a>로렌...,https://ko.wikipedia.org/wiki/교황_바오로_3세,"<!DOCTYPE html>\n<html class=""client-nojs"" dir..."

In [6]:
import torch
from transformers import AutoModel, AutoTokenizer

torch.device('cuda:0')

device(type='cuda', index=0)

In [13]:
import gc


def tokenize_and_embedding(sentences):
  model = AutoModel.from_pretrained('BM-K/KoSimCSE-roberta-multitask')  # or 'BM-K/KoSimCSE-bert-multitask'
  tokenizer = AutoTokenizer.from_pretrained('BM-K/KoSimCSE-roberta-multitask')  # or 'BM-K/KoSimCSE-bert-multitask'
  print('tokenzing...')
  inputs = tokenizer(sentences, padding=True, truncation=True, return_tensors="pt")
  print('embedding...')
  embeddings, _ = model(**inputs, return_dict=False)
  result = []
  for emb_cnt in range(len(embeddings)):
    result.append(embeddings[emb_cnt][0].detach().numpy())
  del model
  del tokenizer
  del inputs
  del embeddings
  gc.collect()
  return result

In [16]:
import numpy as np

def cal_score(a, b):
  dot_product = np.dot(a, b)
  norm1 = np.linalg.norm(a)
  norm2 = np.linalg.norm(b)

  return dot_product / (norm1 * norm2)

In [17]:
LOCAL_QUATA_LIMIT = 20

def make_embeddings_with_local(df_embedding):
  context_result_list = []
  question_result_list = []
  for group_cnt in range(0, len(df_embedding) // LOCAL_QUATA_LIMIT):
    print(group_cnt)
    print_memory()
    df_target = df_embedding[group_cnt * LOCAL_QUATA_LIMIT:(group_cnt + 1) * LOCAL_QUATA_LIMIT]
    context_result_list.extend(tokenize_and_embedding(df_target['context'].to_list()))
    question_result_list.extend(tokenize_and_embedding(df_target['question'].to_list()))
  return context_result_list, question_result_list

In [18]:
context_result_list_bmk, question_result_list_bmk = make_embeddings_with_local(df_embedding)

0
Total Memory: 15.62 GB
Available Memory: 3.68 GB
Used Memory: 10.76 GB
Memory Usage Percentage: 76.50%
tokenzing...
embedding...
tokenzing...
embedding...
1
Total Memory: 15.62 GB
Available Memory: 2.48 GB
Used Memory: 11.92 GB
Memory Usage Percentage: 84.10%
tokenzing...
embedding...
tokenzing...
embedding...
2
Total Memory: 15.62 GB
Available Memory: 1.61 GB
Used Memory: 12.77 GB
Memory Usage Percentage: 89.70%
tokenzing...
embedding...
tokenzing...
embedding...
3
Total Memory: 15.62 GB
Available Memory: 1.19 GB
Used Memory: 13.21 GB
Memory Usage Percentage: 92.40%
tokenzing...
embedding...
tokenzing...
embedding...
4
Total Memory: 15.62 GB
Available Memory: 1.09 GB
Used Memory: 13.31 GB
Memory Usage Percentage: 93.00%
tokenzing...
embedding...
tokenzing...
embedding...

In [19]:
import pandas as pd

#df_context_latest = pd.DataFrame(context_result_list_bmk)
#df_question_latest = pd.DataFrame(question_result_list_bmk)

In [29]:
def make_inner_product(df_context_result,df_question_result):
  num_rows = len(df_context_result)
  inner_product_matrix = np.zeros((num_rows, num_rows))
  for i in range(num_rows):
    for j in range(num_rows):
      inner_product_matrix[i,j] = cal_score(df_context_result[i],df_question_result[j])
  return inner_product_matrix

def make_diagonal_elements(inner_product_matrix):
  list_same_context_question_product = []
  list_different_context_question_product = []
  for question_index in range(len(inner_product_matrix)):
    context_value = inner_product_matrix[question_index, question_index]
    list_same_context_question_product.append(context_value)
    for context_index in range(len(inner_product_matrix)):
      similarity = inner_product_matrix[context_index, question_index]
      if context_value == similarity:
        continue
      list_different_context_question_product.append(similarity)
  return list_same_context_question_product, list_different_context_question_product

In [30]:
inner_product_matrix_latest = make_inner_product(context_result_list_bmk, question_result_list_bmk)
list_same_cq_sim_latest, list_dif_cq_sim_latest = make_diagonal_elements(inner_product_matrix_latest)

In [31]:
pd.DataFrame(list_same_cq_sim_latest).describe()

                0
count  100.000000
mean     0.503926
std      0.125810
min      0.120083
25%      0.410957
50%      0.507920
75%      0.599884
max      0.719772

In [32]:
pd.DataFrame(list_dif_cq_sim_latest).describe()

                 0
count  9792.000000
mean      0.266827
std       0.087192
min      -0.010396
25%       0.204039
50%       0.265886
75%       0.326882
max       0.580214

In [34]:
pd.DataFrame(inner_product_matrix_latest)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.282595,0.601191,0.348903,0.195047,0.143835,0.112377,0.166129,0.203175,0.106922,0.236339,...,0.194495,0.164029,0.335863,0.080092,0.313318,0.197611,0.307166,0.167720,0.200436,0.225123
1,0.282595,0.601191,0.348903,0.195047,0.143835,0.112377,0.166129,0.203175,0.106922,0.236339,...,0.194495,0.164029,0.335863,0.080092,0.313318,0.197611,0.307166,0.167720,0.200436,0.225123
2,0.256443,0.197890,0.489651,0.131264,0.187593,0.104008,0.228337,0.239537,0.128251,0.201589,...,0.485604,0.114125,0.286328,0.167873,0.186116,0.221329,0.202539,0.249528,0.244800,0.210930
3,0.262950,0.223065,0.200713,0.410997,0.251644,0.169365,0.269136,0.334274,0.218349,0.235002,...,0.236203,0.163955,0.379132,0.123722,0.333614,0.228655,0.330630,0.424786,0.221262,0.241335
4,0.108114,0.127243,0.099188,0.099019,0.585529,0.651237,0.121449,0.257020,0.107229,0.173962,...,0.098281,0.238051,0.259250,0.132564,0.314665,0.233329,0.295214,0.334054,0.168494,0.113943
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.243334,0.243101,0.213064,0.286056,0.271048,0.219839,0.370232,0.432955,0.286304,0.223530,...,0.192773,0.224287,0.448828,0.178695,0.683409,0.479690,0.507789,0.340364,0.232310,0.242307
96,0.243334,0.243101,0.213064,0.286056,0.271048,0.219839,0.370232,0.432955,0.286304,0.223530,...,0.192773,0.224287,0.448828,0.178695,0.683409,0.479690,0.507789,0.340364,0.232310,0.242307
97,0.333261,0.280688,0.234080,0.346814,0.307149,0.219401,0.290452,0.320806,0.238972,0.254946,...,0.264419,0.248120,0.355754,0.175375,0.359727,0.246699,0.302571,0.572685,0.229491,0.201483
98,0.325876,0.287982,0.250167,0.282384,0.279475,0.166504,0.342649,0.358190,0.210171,0.165068,...,0.230702,0.210423,0.453918,0.085273,0.372251,0.276905,0.320619,0.375200,0.397611,0.360373
99,0.350597,0.316706,0.241648,0.235726,0.277635,0.175930,0.252546,0.313657,0.219884,0.220426,...,0.219993,0.198011,0.330843,0.187602,0.297644,0.244537,0.248197,0.280115,0.231016,0.702707

: